@{
	Layout = null;
}
@model IEnumerable<Restaurant.DomainModel.ApplicationModel.Appetizer.AppetizerListItemUI>
<div class="ContainerAll">
	@foreach (var item in Model)
	{
		<div class="ContainerOne">
			<div class="ListBox">
				<img src='@Url.Content(@item.Image)' />
				<h1>@Html.DisplayFor(modelItem => item.AppetizerName)</h1>
				<p>@Html.DisplayFor(modelItem => item.UnitPrice)</p>
				<p class="TextTooman">تومان</p>
			</div>
		</div>
	}
</div>