@model ResturanShemronKabab.ViewModel.AppetizerDetailsModel
@{
	Layout = null;
	SelectList categoryDropDown = (SelectList)ViewBag.categoryDropDown;
}
<h4 style="display: flex;
    justify-content: center;
    margin-right: 60px;">
	Update Food
</h4>
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Add</title>
	<link href="~/content/font-awesome.css" rel="stylesheet" />
	<link href="~/content/font-awesome.min.css" rel="stylesheet" />
	<link href="~/css/stylesheet.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/ResturanShemronKabab.styles.css" asp-append-version="true" />
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<link href="~/css/sweetalert2.min.css" rel="stylesheet" />
	<script src="~/validation/validation.js"></script>
</head>
<body>
	@if (TempData["ErrorMessage"] != null)
	{
		<h1 style="color:red">@TempData["ErrorMessage"]</h1>
	}

	<div class="row" style="    display: flex;
    justify-content: center;">
		<div class="col-md-4" style="    box-shadow: 1px 11px 10px 10px rgba(6, 8, 10, 0.05);">
			<form asp-action="Update" asp-controller="AppetizerManagement" method="post" enctype="multipart/form-data">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">

					<input type="hidden" asp-for="AppetizerID" class="form-control" />

				</div>
				<div class="form-group">
					<label for="CategoryID">Category</label>
					<select asp-items="categoryDropDown" class="form-control" asp-for="CategoryID"></select>
				</div>
				<div class="form-group">
					<label asp-for="AppetizerName" class="control-label"></label>
					<input asp-for="AppetizerName" class="form-control" type="text" placeholder="Food Name" id="Name" data-Err-Name="spnErrName" data-msg="Enter your Food Name correctly" oninput="ValidationName(this)" />
					<span class="text-danger" id="spnErrName"></span>
				</div>
				<div class="form-group">
					<label asp-for="UnitPrice" class="control-label"></label>
					<input asp-for="UnitPrice" class="form-control" type="text" placeholder="UnitPrice" id="UnitPrice" data-Err-UnitPrice="spnErrUnitPrice" data-msg="Enter your UnitPrice correctly" oninput="ValidationUnitPrice(this)" />
					<span class="text-danger" id="spnErrUnitPrice"></span>
				</div>
				<div class="form-group">
					<label asp-for="SmallDescription" class="control-label"></label>
					<input asp-for="SmallDescription" class="form-control" type="text" placeholder="Small Description" id="SmallDescription" data-Err-SmallDescription="spnErrSmallDescription" data-msg="Enter your Small Description correctly" oninput="ValidationSmallDescription(this)" />
					<span class="text-danger" id="spnErrSmallDescription"></span>
				</div>
				<div class="form-group">
					<span> Your Old Image is : </span>
					<img src="@Url.Content(Model.ImageURl)" width="200" />
				</div>
				<div class="form-group">
					<span> Select a new Image If Image Must Change</span>
					<input type="file" name="Picture" id="Picture" value="" />
				</div>
				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-success .btn-updateFood" />
					<a href="Index" class="btn btn-primary">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
