



<span class="btn btn-success btn-add" data-controller="EmployeeManagement" data-action="Add">Add New</span>

 <div id="dvContent" data-controller="EmployeeManagement" data-action="List" data-search-form="frmSearch"></div>
