
<span class="btn btn-success btn-add" data-controller="FoodManagement" data-action="Add">Add New</span>

<div id="dvContent" data-controller="FoodManagement" data-action="List" data-search-form="frmSearch"></div>

