@model Restaurant.DomainModel.ApplicationModel.Food.FoodSearchModel
@{
	SelectList categoryDropDown = (SelectList)ViewBag.categoryDropDown;
}
<form asp-controller="FoodManagement" asp-action="Index" method="get" id="frmSearch">
	<table class="table table-hover table-striped table-sm">
		<tr>
			<td>
				<label asp-for="FoodName" class="form-control"></label>
				<input type="text" class="form-control" asp-for="FoodName" />
			</td>
		</tr>
		<tr>
			<td>
				<label asp-for="CategoryID" class="form-control">Category</label>
				<select asp-items="categoryDropDown" class="form-control" asp-for="CategoryID"></select>
			</td>
		</tr>
		<tr>
			<td>
				<label asp-for="UnitPriceFrom" class="form-control"></label>
				<input type="text" class="form-control" asp-for="UnitPriceFrom" />
			</td>
		</tr>
		<tr>
			<td>
				<label asp-for="UnitPriceTo" class="form-control"></label>
				<input type="text" class="form-control" asp-for="UnitPriceTo" />
			</td>
		</tr>
		<tr class="text-center">
			<td colspan="2">
				<span class="btn btn-primary btn-sm spnSearch" data-controller="FoodManagement" data-action="Search">Search</span>
				@Html.ActionLink("RemoveFilter", "Index", "FoodManagement", null, new { @class = "btn btn-danger btn-sm" })
			</td>
		</tr>
	</table>
</form>

<div class="row">
	<div class="col-md-12">
		<a asp-action="Add" asp-controller="FoodManagement" class="btn btn-primary">Add New Food</a>
	</div>
</div>
<div id="dvContent" data-controller="FoodManagement" data-action="List" data-search-form="frmSearch"></div>

