
@model ResturanShemronKabab.ViewModel.FoodDetailsModel
@{
	Layout = null;
	SelectList categoryDropDown = (SelectList)ViewBag.categoryDropDown;
}
<h4>FoodAddAndEditModel</h4>
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Add</title>
</head>
<body>
	@if (TempData["ErrorMessage"] != null)
	{
		<h1 class="text-danger h1">
			@TempData["ErrorMessage"]
		</h1>
	}

<div class="row">
	<div class="col-md-4">
		<form  asp-action="Update" asp-controller="FoodManagement" method="post" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">

					<input type="hidden" asp-for="FoodID" class="form-control" />

				</div>
			<div class="form-group">
				<label for="CategoryID">Category</label>
				<select asp-items="categoryDropDown" class="form-control" asp-for="CategoryID"></select>
			</div>
			<div class="form-group">
				<label asp-for="FoodName" class="control-label"></label>
				<input asp-for="FoodName" class="form-control" type="text" placeholder="Food Name" id="Name" data-Err-Name="spnErrName" data-msg="Enter your Food Name correctly" oninput="ValidationName(this)" />
				<span class="text-danger" id="spnErrName"></span>
			</div>
			<div class="form-group">
				<label asp-for="UnitPrice" class="control-label"></label>
				<input asp-for="UnitPrice" class="form-control" type="text" placeholder="UnitPrice" id="UnitPrice" data-Err-UnitPrice="spnErrUnitPrice" data-msg="Enter your UnitPrice correctly" oninput="ValidationUnitPrice(this)" />
				<span class="text-danger" id="spnErrUnitPrice"></span>
			</div>
			<div class="form-group">
				<label asp-for="Materials" class="control-label"></label>
				<input asp-for="Materials" class="form-control" type="text" placeholder="Small Description" id="SmallDescription" data-Err-SmallDescription="spnErrSmallDescription" data-msg="Enter your Small Description correctly" oninput="ValidationSmallDescription(this)" />
				<span class="text-danger" id="spnErrSmallDescription"></span>
			</div>
			<div class="form-group">
				<span> Your Old Image is : </span>
				<img src="@Url.Content(Model.ImageURL)" width="200" />
			</div>
			<div class="form-group">
				<span> Select a new Image If Image Must Change</span>
				<input type="file" name="Picture" id="Picture" value="" />
			</div>
			<div class="form-group">
					<input type="submit" value="Update" class="btn btn-success .btn-updateFood" />
				<a href="Index" class="btn btn-success">Cancel</a>
			</div>
		</form>
	</div>
</div>
</body>
</html>
